{% extends 'base.html' %}

{% load static %}

{% block custom-style %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/register.css' %}"/>
{% endblock %}

{% block title %} User Registration {% endblock %}

{% block navbar %}

    <div id="navbar" class="navbar-collapse collapse">
        <div class="navbar-form navbar-right">
            {% csrf_token %}
            <a class="btn btn-success" href="{% url 'about-us' %}">About us</a>
            <a class="btn btn-success" href="{% url 'uta_users' %}">Who uses UTA?</a>
            <a class="btn btn-success" href="{% url 'index' %}#features">Features</a>
            <a class="btn btn-success" href="{% url 'help' %}">Help</a>
        </div>


    </div><!--/.navbar-collapse -->

{% endblock %}

{% block body %}
    <div class="jumbotron" style="padding: 0px">
        <div class="container img-background" style="width:100%; margin: 0px;">
            <div class="container fullscreen" style="padding-top:130px">
                <div class="title" style="text-align:center" ;>
                    <h2 style="color: black;">User Registration</h2><br>
                </div>
                <br>

                <div class="col-sm-4 col-sm-offset-2">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">Student</h3>
                        </div>
                        <div class="panel-body">
                            <p>A Student user can enroll to courses and see the available assignments. Also has the
                                ability to
                                create a team for an assignment or be suggested one based on the his/her
                                qualifications.</p>

                            <p><a class="btn btn-success" href="/auth/register/student" name="user_type"
                                  value="student" role="button">Register &raquo;</a></p>
                        </div>
                    </div>
                </div>


                <div class="col-sm-4">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">Lecturer</h3>
                        </div>
                        <div class="panel-body">
                            <p>A Lecturer user can create assignments for his/her courses and define requirements
                                that the teams
                                must fulfil, such as minimum and maximum team size, must-have skills etc.<br></p>

                            <p><a class="btn btn-success" href="/auth/register/instructor" name="user_type"
                                  value="instructor" role="button">Register &raquo;</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}