{% extends 'base.html' %}

{% load static %}

{% block custom-style %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/register_user.css' %}"/>
{% endblock %}

{% block title %} User Registration {% endblock %}

{% block navbar_title %}

{% endblock %}

{% block navbar %}

    <div id="navbar" class="navbar-collapse collapse">
        <div class="navbar-form navbar-right">
            {% csrf_token %}
            <a class="btn btn-success" href="{% url 'about-us' %}">About us</a>
            <a class="btn btn-success" href="{% url 'uta_users' %}">Who uses UTA?</a>
            <a class="btn btn-success" href="{% url 'index' %}#features">Features</a>
            <a class="btn btn-success" href="{% url 'help' %}">Help</a>
        </div>


    </div><!--/.navbar-collapse -->

{% endblock %}

{% block body %}
    <div class="jumbotron" style="padding: 0px">
        <div class="container img-background" style="width:100%; margin: 0px;">
            <div class="title" style="text-align:center";>
            <h2 style="color: black;">User Registration</h2>
            </div>

            <div class="container" style="padding-top: 20px">
                <div class="row col-sm-8 col-sm-offset-2 form-background">

                    {% if registered %}
                        <strong>Thank you for registering!</strong>
                        <a href="{% url 'index' %}">Return to the homepage.</a><br/>
                    {% else %}

                        <div id="form1">
                            <form id="user_form" method="post" action="{% url 'register_user' user_type %}"
                                  enctype="multipart/form-data">

                                {% csrf_token %}

                                {% for field in user_form %}
                                    {{ field.errors }}
                                    {{ field.label_tag }} {{ field }}

                                {% endfor %}

                                {% for field in profile_form %}
                                    {{ field.errors }}
                                    {{ field.label_tag }} {{ field }}
                                {% endfor %}

                                <!-- Provide a button to click to submit the form. -->
                                <input id="submit" type="submit" name="submit" value="Register"/>

                            </form>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>

                    {% endif %}

{% endblock %}