<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Rango</title>
    <!--http://www.w3schools.com/css/css_form.asp -->
    <style>
        input {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }



        input[type=submit]:hover {
            background-color: #45a049;
        }

        #form1 {
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 40px;
        }
    </style>

</head>

<body>
<h1>Register with Rango</h1>

{% if registered %}
    Rango says: <strong>thank you for registering!</strong>
    <a href="{% url 'home' %}">Return to the homepage.</a><br/>
{% else %}
    Rango says: <strong>register here!</strong><br/>
    <div id="form1">
        <form id="assign_form" method="post" action="{% url 'assignment_create' %}"
              enctype="multipart/form-data">

            {% csrf_token %}

            {% for field in assign_form %}
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}

            {% endfor %}

            <input type="file" name="students" accept="*">
            <!-- Provide a button to click to submit the form. -->
            <input id="submit" type="submit" name="submit" value="Create"/>
        </form>
    </div>
{% endif %}
</body>
</html>