{% extends 'base.html' %}

{% load static %}

{% block custom-style %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/student_homepage.css' %}"/>
{% endblock %}

{% block title %} Instructor Homepage {% endblock %}

{% block navbar %}

    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li> <a href="{% url 'assignment_create' %}">Create assignment</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#profile">{{ username }}</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </div><!--/.navbar-collapse -->

{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">My Courses</h3>
                    </div>
                    <div class="panel-body">
                        {% if courses %}
                            <ul>
                                {% for course in courses %}
                                    <li>{{ course.name }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <strong>There are no courses present.</strong>
                        {% endif %}
                    </div>
                </div>
            </div><!-- /.col-sm-4 -->
            <div class="col-sm-4">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">My Assignments</h3>
                    </div>
                    <div class="panel-body">
                        {% if assignments %}
                            <ul>
                                {% for assignment in assignments %}
                                    <li><a href="{% url 'assignment_view' assignment.id %}">{{ assignment.course }}
                                        - {{ assignment.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <strong>There are no assignments present.</strong>
                        {% endif %}
                    </div>
                </div>

            </div><!-- /.col-sm-4 -->
            <div class="col-sm-4">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Calendar</h3>
                    </div>
                    <div id="calendar_table" align="center" class="panel-body">
                        {{ calendar }}
                    </div>
                </div>

            </div><!-- /.col-sm-4 -->
        </div>
    </div>

{% endblock %}