{% extends 'base.html' %}

{% load static %}

{% block custom-style %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/student_profile.css' %}"/>
{% endblock %}

{% block title %} User Registration {% endblock %}


{% block navbar %}

    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="{% url 'home' %}" style="margin-right: 40px">Home</a></li>
            <li class="dropdown">
                <a onClick="loadHTML(); return false;" href="#" class="dropdown-toggle" data-toggle="dropdown">Notifications
                    <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <ul id="ajax_block" class="list-inline" style="width: 500px">


                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </div><!--/.navbar-collapse -->

{% endblock %}

{% block body %}
    <div class="jumbotron" style="padding: 0px">
        <div class="container img-background" style="width:100%; margin: 0px;">

            <div class="title" style="text-align:center" ;>
                <h2 style="color: black;">My Profile</h2>
            </div>

            <div class="container" style="padding-top: 10px">
                <div class="row col-sm-10 col-sm-offset-1 form-background">

                    {% if registered %}
                        <strong>Thank you for registering!</strong>
                        <a href="{% url 'index' %}">Return to the homepage.</a><br/>
                    {% else %}

                        <div id="form1">
                            <form id="user_form" method="post" action="{% url 'studentprofile' %}"
                                  enctype="multipart/form-data">

                                {% csrf_token %}
                                <div class="col-sm-6">
                                    {% for field in user_form %}
                                        {{ field.errors }}
                                        {{ field.non_field_errors }}

                                        {{ field.label_tag }} {{ field }}

                                    {% endfor %}

                                {% for field in profile_form %}
                                        {{ field.errors }}
                                    <br>
                                        {{ field.non_field_errors }}
                                    <br>
                                        {{ field.label_tag }} {{ field }}
                                    {% endfor %}
                                <!-- Provide a button to click to submit the form. -->
                                <input id="submit" type="submit" name="submit" value="Save Profile"/>
                                </div>
                                <div class="col-sm-6">


                                    {% for field in rated_qualif_form %}
                                        {{ field.errors }}
                                        {{ field.non_field_errors }}
                                        {{ field.label_tag }} <br> {{ field }}
                                    {% endfor %}
                                </div>

                            </form>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}