{% extends 'base.html' %}

{% load static %}

{% block custom-style %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/register_user.css' %}"/>
{% endblock %}

{% block title %} Create Requirements {% endblock %}

{% block navbar %}

    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'assignment_view' assignment_id %}">Assignment</a></li>
            <li class="active"><a href="{% url 'team_create' assignment_id %}">Create team</a></li>
            <li><a href="{% url 'find_team' assignment_id %}">Find team</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#profile">{{ username }}</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </div><!--/.navbar-collapse -->

{% endblock %}

{% block body %}

    {% if registered %}
        <div class="jumbotron">
            <div class="container">
            </div>
        </div>

        <strong>Team successfully created!</strong>
        <a href="{% url 'assignment_view' assignment_id %}">Return to the assignment.</a><br/>
    {% else %}

        <div id="form1">
            <form id="assign_form" method="post" action="{% url 'team_create' assignment_id %}"
                  enctype="multipart/form-data">

                {% csrf_token %}

                {% for field in group_form %}
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                {% endfor %}

                <!-- Provide a button to click to submit the form. -->
                <input id="submit" type="submit" name="submit" value="Create"/>
            </form>
        </div>
    {% endif %}

{% endblock %}