{% extends 'base.html' %}

{% load static %}

{% block custom-style %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/about_us.css' %}"/>
{% endblock %}

{% block title %} About us {% endblock %}

{% block navbar %}
    <div id="navbar" class="navbar-collapse collapse">
        <div class="navbar-form navbar-right">
            {% csrf_token %}
            <a class="btn btn-success" href="{% url 'about-us' %}">About us</a>
            <a class="btn btn-success" href="{% url 'uta_users' %}">Who uses UTA?</a>
            <a class="btn btn-success" href="{% url 'index' %}#features">Features</a>
            <a class="btn btn-success" href="{% url 'help' %}">Help</a>
        </div>
    </div><!--/.navbar-collapse -->
{% endblock %}

{% block body %}
    <div class="title" style="text-align: center">
        <br>

        <h2> Who uses UTA?</h2>
    </div>
    {#    <div class="jumbotron" style="padding: 0px">#}
    {#        <div class="container img-background" style="width:100%; margin: 0px;">#}
    <div class="container fullscreen" style="padding-top:25px">
        <div class="col-sm-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title" ; style="text-align: center" ;>Lecturer</h3>
                </div>
                <div class="panel-body">
                    <p> Lecturers have different requirements for their assignments. They usually want to allocate their
                        students
                        into groups of various sizes. Sometimes they may even differentiate between their level of study
                        and expertise.
                        Forming teams, however, is both difficult and time consuming. Having all that in mind, UTA has
                        been developed with the one
                        and only purpose: to help lecturers form well balanced teams for their students as quickly and
                        efficiently as possible.</p>

                    <p> <h4>Key Functions:</h4>
                    - Define the assignment requirements
                    <br>- Upload list of students
                    <br>- Define a limit for arranging teams
                    <br>- Allocate the rest of the students through the system
                    <br><h4>Critical Needs:</h4>
                    - Form teams quickly and efficiently
                    <br>- Monitor the process</p>
                </div>
            </div>
        </div>


        <div class="col-sm-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title" ; style="text-align: center" ;>Student</h3>
                </div>
                <div class="panel-body">
                    <p> Students are usually enrolled into multiple courses requiring group assignments.
                        Based on their past experience, however, they worry every time when it comes to forming groups.
                        They either do not know enough colleagues so as to fulfill the requirements, or they were
                        allocated with students who
                        were not responsible at all, were not contributing and they were left doing the work on their
                        own.
                        The fact is that students get nervous when they have to form teams and work with other people.
                        UTA is developed exactly to meet all students' needs and make the process of forming teams less
                        painful and stressful.</p>

                    <p> <h4>Key Functions:</h4>
                    - Create a detailed qualifications profile
                    <br>- Team up
                    <br>- Accept/Decline suggested team
                    <br><h4>Critical Needs:</h4>
                    - To be allocated in a team
                    <br>- To find a team in the time limit
                    <br>- To find the best team
                    <br><h4>Opportunities to improve the user experience:</h4>
                    - Create your own team
                    <br>- Get suggested team
                    <br>- Meet on the go with apps
                    <br>- Chat with team mates
                    <br>- Upload files in the group page
                    <br>- Notifications of upcoming events/deadlines
                    <br>- Rate the team</p>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>


{% endblock %}
