.form-background {
    border-radius: 5px;
    background-color: rgba(215, 215, 215, 0.9);
    padding: 40px;
}


.img-background {
    background-image: url("/static/images/lecturer-theatre.png");
    background-position: center;
    background-size: cover;
    height: 750px;
}

