.form-background {
    border-radius: 5px;
    background-color: rgba(215, 215, 215, 0.9);
    padding: 40px;
}


.img-background {
    background-image: url("/static/images/lecturer-theatre.png");
    background-position: center;
    background-size: cover;
    height: 850px;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.rated_qualif {
width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

div > img {
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
}

