/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

div > img {
  width: auto;
  height : auto;
  max-height: 100%;
  max-width: 100%;
}

