#calendar_table {
    display: table;
    width: 100%;

}

.fullscreen {
       height: 60vh;
}

table{
    border: 1px solid black;
    table-layout: fixed;
    width: 100%;


}

th, td {
    border: 1px solid black;
    overflow: hidden;
    width: 100px;
    text-align: center;
    vertical-align: middle;

}

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

div > img {
  width: auto;
  height : auto;
  max-height: 100%;
  max-width: 100%;
}

.img-background {
  background-image: url("/static/images/students-logo-img.png");
  background-position: center;
  background-size: cover;
  height:850px;
}